serial_port = "/dev/ttyUSB0"
hostname_kernel = true
uptime = true
cpu_utilization = true
memory_utilization = true

[network_utilization]
enabled = true

        [[network_utilization.network]]
        interface_name = "eno1"
        top_speed_bps = 1000000000

        [[network_utilization.network]]
        interface_name = "eno2"
        top_speed_bps = 1000000000

[storage_utilization]
enabled = true

        [[storage_utilization.partition]]
        partition_name = "Primary Drive"
        partition_path = "/dev/sda"

        [[storage_utilization.partition]]
        partition_name = "Secondary Drive"
        partition_path = "/dev/sdb"